<ion-view view-title="Manage Scrbbls">
    <ion-content>

        <div class="card" ng-repeat="scrbbl in scrbbls">
            <div class="item item-divider positive">
                {{ scrbbl.name }}
            </div>

            <div class="button-bar">
                <button class="button button-positive" on-tap="loadScrbbl(scrbbl.name)">
                    <i class="icon ion-android-arrow-down"></i>
                </button>
                <button class="button button-energized" on-tap="openEditScrbbl(scrbbl.name)">
                    <i class="icon ion-edit"></i>
                </button>
                <button class="button button-assertive" on-tap="deleteScrbbl(scrbbl.name)">
                    <i class="icon ion-trash-b"></i>
                </button>
            </div>
        </div>
        <!-- card -->

    </ion-content>

    <!-- Edit Scrbbl Modal -->
    <script id="edit_scrbbl.html" type="text/ng-template">
        <div class="modal">

            <!-- Modal header bar -->
            <ion-header-bar align-title="center" class="bar-positive">
                <h1 class="title">Edit Scrbbl</h1>

                <button class="button button-icon" on-tap="closeEditScrbbl()">
                    <i class="icon ion-close-circled calm"></i>
                </button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>

                <div class="card">
                    <form ng-submit="editScrbbl(old_name, edit_scrbbl_name)">
                        <div class="list">
                            <input type="hidden" name="old_name" ng-model="old_name">
                            <label class="item item-input">
                                <input type="text" placeholder="Name" ng-model="edit_scrbbl_name">
                            </label>
                        </div>
                        <div class="padding">
                            <button type="submit" class="button button-block button-energized">Update Scrbbl</button>
                        </div>
                    </form>
                </div>

            </ion-content>

        </div>
    </script>
</ion-view>