<ion-view view-title="New Scrbbl">
    <ion-content>

        <div class="card">
    
            <form ng-submit="newScrbbl(name)">
    
                <div class="list">
    
                    <label class="item item-input">
    
                        <input type="text" placeholder="Name" ng-model="name">
    
                    </label>
    
                </div>
    
                <div class="padding">
    
                    <button type="submit" class="button button-block button-energized">Create Scrbbl</button>
    
                </div>
    
            </form>
    
        </div>

    </ion-content>
</ion-view>