<ion-view view-title="{{ scrbblName }} - HTML">
    <ion-nav-buttons side="right">
        <button class="button button-positive" on-tap="openCodeButtons()">Snips</button>
        <button class="button button-positive" on-tap="saveScrbbl()">Save</button>
    </ion-nav-buttons>
    
    <ion-content class="padding">
        <div id="html_editor" on-tap="focusEditor()"></div>
        
        <script id="input_code.html" type="text/ng-template">
            <div class="modal">

                <ion-header-bar align-title="center" class="bar-positive">
                    <button class="button button-icon" on-tap="newButton()">
                        <i class="icon ion-plus-circled balanced"></i>
                    </button>

                    <h1 class="title">HTML Code Buttons</h1>

                    <button class="button button-icon" on-tap="closeCodeButtons()">
                        <i class="icon ion-close-circled calm"></i>
                    </button>
                </ion-header-bar>

                <ion-content>

                    <div class="card" ng-repeat="button in buttons">
                        <div class="item item-divider positive">
                            {{ button.name }}
                        </div>
                        <div class="item">
                            {{ button.code }}
                        </div>

                        <div class="button-bar">
                            <button class="button button-positive" on-tap="insertCode(button.code)">
                                <i class="icon ion-code"></i>
                            </button>
                            <button class="button button-energized" on-tap="openEditButton(button.name, button.code)">
                                <i class="icon ion-edit"></i>
                            </button>
                            <button class="button button-assertive" on-tap="deleteButton('buttonHtml', button.name)">
                                <i class="icon ion-trash-b"></i>
                            </button>
                        </div>
                    </div>

                </ion-content>

            </div>
        </script>

        <script id="new_button.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar align-title="center" class="bar-positive">
                    <h1 class="title">New HTML Button</h1>
                    <button class="button button-icon" on-tap="closeNewButton()">
                        <i class="icon ion-close-circled calm"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card">
                        <form ng-submit="createButton('buttonHtml', button_name, button_code)">
                            <div class="list">
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="button_name">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Code" ng-model="button_code">
                                </label>
                            </div>
                            <div class="padding">
                                <button type="submit" class="button button-block button-energized">Create HTML Button</button>
                            </div>
                        </form>
                    </div>

                </ion-content>

            </div>

        </script>

        <script id="edit_button.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar align-title="center" class="bar-positive">
                    <h1 class="title">Edit HTML Button</h1>
                    <button class="button button-icon" on-tap="closeEditButton()">
                        <i class="icon ion-close-circled calm"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card">
                        <form ng-submit="editButton('buttonHtml', old_name, edit_button_name, edit_button_code)">
                            <div class="list">
                                <input type="hidden" name="old_name" ng-model="old_name">
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="edit_button_name">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Code" ng-model="edit_button_code">
                                </label>
                            </div>

                            <div class="padding">
                                <button type="submit" class="button button-block button-energized">Update Button</button>
                            </div>
                        </form>
                    </div>

                </ion-content>

            </div>

        </script>

    </ion-content>
</ion-view>
