<ion-view view-title="{{ scrbblName }} - JS">
    <ion-nav-buttons side="right">
        <button class="button button-calm" ng-click="saveScrbbl()">Save</button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div id="js_editor" ng-click="focusEditor()"></div>

        <script id="input_code.html" type="text/ng-template">
            <div class="modal">

                <ion-header-bar align-title="center" class="bar-calm">
                    <button class="button button-icon" ng-click="closeCodeButtons()">
                        <i class="icon ion-close-circled positive"></i>
                    </button>

                    <h1 class="title">JS Code Buttons</h1>

                    <button class="button button-icon" ng-click="newButton()">
                        <i class="icon ion-plus-circled energized"></i>
                    </button>
                </ion-header-bar>

                <ion-content>
                    <div class="card" ng-repeat="button in buttons">
                        <div class="item item-divider assertive">
                            {{ button.name }}
                        </div>

                        <div class="item">
                            {{ button.code }}
                        </div>

                        <div class="button-bar">
                            <button class="button button-positive" ng-click="insertCode(button.code)">
                                <i class="icon ion-android-developer"></i>
                            </button>
                            <button class="button button-energized" ng-click="openEditButton(button.name, button.code)">
                                <i class="icon ion-edit"></i>
                            </button>
                            <button class="button button-assertive" ng-click="deleteButton('buttonJS', button.name)">
                                <i class="icon ion-trash-b"></i>
                            </button>
                        </div>
                    </div>

                </ion-content>

            </div>
        </script>

        <script id="new_button.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar align-title="center" class="bar-calm">
                    <h1 class="title">New JS Button</h1>
                    <button class="button button-icon" ng-click="closeNewButton()">
                        <i class="icon ion-close-circled positive"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card">
                        <form ng-submit="createButton('buttonJS', button_name, button_code)">
                            <div class="list">
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="button_name">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Code" ng-model="button_code">
                                </label>
                            </div>
                            <div class="padding">
                                <button type="submit" class="button button-block button-energized">Create JS Button</button>
                            </div>
                        </form>
                    </div>

                </ion-content>

            </div>

        </script>

        <script id="edit_button.html" type="text/ng-template">

            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar align-title="center" class="bar-calm">
                    <h1 class="title">Edit JS Button</h1>
                    <button class="button button-icon" ng-click="closeEditButton()">
                        <i class="icon ion-close-circled positive"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card">
                        <form ng-submit="editButton('buttonJS', old_name, edit_button_name, edit_button_code)">
                            <div class="list">
                                <input type="hidden" name="old_name" ng-model="old_name">
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="edit_button_name">
                                </label>
                                <label class="item item-input">
                                    <input type="text" placeholder="Code" ng-model="edit_button_code">
                                </label>
                            </div>

                            <div class="padding">
                                <button type="submit" class="button button-block button-energized">Update Button</button>
                            </div>
                        </form>
                    </div>

                </ion-content>

            </div>

        </script>

    </ion-content>
</ion-view>
