<ion-view>
    <ion-content class="padding">

        <h1>Code Scrbbl</h1>

        <button class="button button-block button-balanced" ng-click="openNewScrbbl()">
            Create New Scrbbl
        </button>

        <button class="button button-block button-positive" ng-click="openLoadScrbbl()">
            Manage Scrbbls
        </button>

        <!-- New Scrbbl Modal -->
        <script id="new_scrbbl.html" type="text/ng-template">
            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-balanced">
                    <h1 class="title">New Scrbbl</h1>
                    <button class="button button-icon" ng-click="closeNewScrbbl()">
                        <i class="icon ion-close-circled dark"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                <div class="card">
                    <form ng-submit="newScrbbl(name)">
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Name" ng-model="name">
                            </label>
                        </div>
                        <div class="padding">
                            <button type="submit" class="button button-block button-energized">Create Scrbbl</button>
                        </div>
                    </form>
                </div>

                </ion-content>

            </div>
        </script>

        <!-- Manage Scrbbl Modal -->
        <script id="manage_scrbbl.html" type="text/ng-template">
            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-positive">
                    <h1 class="title">Manage Scrbbls</h1>
                    <button class="button button-icon" ng-click="closeLoadScrbbl()">
                        <i class="icon ion-close-circled calm"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card" ng-repeat="scrbbl in scrbbls">
                        <div class="item item-divider positive">
                            {{ scrbbl.name }}
                        </div>

                        <div class="button-bar">
                            <button class="button button-positive" ng-click="loadScrbbl(scrbbl.name)">
                                <i class="icon ion-android-download"></i>
                            </button>
                            <button class="button button-energized" ng-click="openEditScrbbl(scrbbl.name)">
                                <i class="icon ion-edit"></i>
                            </button>
                            <button class="button button-assertive" ng-click="deleteScrbbl(scrbbl.name)">
                                <i class="icon ion-trash-b"></i>
                            </button>
                        </div>
                    </div>
                    <!-- card -->

                </ion-content>

            </div>
        </script>

        <!-- Edit Scrbbl Modal -->
        <script id="edit_scrbbl.html" type="text/ng-template">
            <div class="modal">

                <!-- Modal header bar -->
                <ion-header-bar class="bar-positive">
                    <h1 class="title">Edit Scrbbl</h1>

                    <button class="button button-icon" ng-click="closeEditScrbbl()">
                        <i class="icon ion-close-circled calm"></i>
                    </button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>

                    <div class="card">
                        <form ng-submit="editScrbbl(old_name, edit_scrbbl_name)">
                            <div class="list">
                                <input type="hidden" name="old_name" ng-model="old_name">
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="edit_scrbbl_name">
                                </label>
                            </div>
                            <div class="padding">
                                <button type="submit" class="button button-block button-energized">Update Scrbbl</button>
                            </div>
                        </form>
                    </div>

                </ion-content>

            </div>
        </script>

    </ion-content>
</ion-view>
