<ion-view>
    <ion-header-bar class="bar-calm">
        <button class="button button-icon" ng-click="openCodeButtons()">
            <i class="icon ion-navicon positive"></i>
        </button>
        <h1 class="title">JavaScript</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <textarea class="item item-input input_area" id="input_area" rows="20" cols="40" placeholder="Enter JavaScript code here"></textarea>

        <script id="input_code.html" type="text/ng-template">
            <div class="modal">

                <ion-header-bar class="bar-calm">
                    <button class="button button-icon" ng-click="closeCodeButtons()">
                        <i class="icon ion-close-circled positive"></i>
                    </button>

                    <h1 class="title">JavaScript Code Buttons</h1>

                    <button class="button button-icon" ng-click="newButton()">
                        <i class="icon ion-plus-circled energized"></i>
                    </button>
                </ion-header-bar>

                <ion-content>

                <div class="card" ng-repeat="button in buttons">
                    <div class="item item-divider calm">
                        {{ button.name }}
                    </div>

                    <div class="item item-button-right">
                        {{ button.code }}
                        <button class="button button-calm" ng-click="insertCode(button.code)">
                            <i class="icon ion-pound"></i>
                        </button>
                    </div>
                </div>

                </ion-content>

            </div>
        </script>

        <script id="new_button.html" type="text/ng-template">

        <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-calm">
            <h1 class="title">New JavaScript Button</h1>
            <button class="button button-icon" ng-click="closeNewButton()">
                <i class="icon ion-close-circled positive"></i>
            </button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

            <form ng-submit="createButton('buttonJS', button_name, button_code)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Name" ng-model="button_name">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Code" ng-model="button_code">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-energized">Create JavaScript Button</button>
                </div>
            </form>

        </ion-content>

    </div>

</script>

</ion-content>
</ion-view>
