<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home dark" href="#/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- HTML Tab -->
  <ion-tab title="HTML" icon="icon ion-code positive" href="#/tab/html">
    <ion-nav-view name="tab-html"></ion-nav-view>
  </ion-tab>


  <!-- CSS Tab -->
  <ion-tab title="CSS" icon="icon ion-pound assertive" href="#/tab/css">
    <ion-nav-view name="tab-css"></ion-nav-view>
  </ion-tab>


  <!-- JavaScript Tab -->
  <ion-tab title="JS" icon="icon ion-android-developer calm" href="#/tab/js">
    <ion-nav-view name="tab-js"></ion-nav-view>
  </ion-tab>

  <!-- Preview Tab -->
  <ion-tab title="Preview" icon="icon ion-play balanced" href="#/tab/preview">
    <ion-nav-view name="tab-preview"></ion-nav-view>
  </ion-tab>


</ion-tabs>
